@model AppVeterinarios.Models.Veterinarios  
    @*//obter, nesta View, apenas um unico objeto*@

@{
    ViewData["Title"] = "Detalhes do" + Model.Nome;
}

<h1>Details</h1>

<div>
    <h4>Veterinarios</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumCedulaProf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumCedulaProf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>
        <dd class="col-sm-10">
            @*Html.DisplayFor(model => model.Fotografia)*@

            <img src="~/Imagens/Vets/@Model.Fotografia" alt="Fotogradia de @Model.Nome" title=" @Model.Nome" />
        </dd>
    </dl>
</div>

@* Lista das consultas do Veterinario*@
<div>

    <table class="table">
        <tr>
            <th>Data da Consulta</th>

            <th>
                Animal
            </th>
            <th>
                Dono
            </th>
        </tr>
        @foreach (var consulta in Model.ListaConsulta) {
        <tr>
            <td>
                @*data da consulta*@
                @consulta.Data
            </td>
            <td>
                @*nome do animal*@
                @consulta.Animal.Nome
            </td>

            <td>
                @* nome do Dono*@
                @consulta.Animal.Dono
            </td>
        </tr>
        }
    </table>
</div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
        <a asp-action="Index">Regressar á listagem</a>
    </div>
